{% extends "base.html" %}
{% block title %}BRCAware{% endblock %}

{% block content %}
<main>
  <section class="section-hero">
    <div class="hero-container">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Breast cancer detection, by the click of a button
        </h1>
        <p class="hero-description">
          Whether you or a loved one are worried about developing breast
          cancer, you can use our free tool to check whether you really have
          breast cancer or not! We hope you don't, but please take
          caution.
        </p>
        <a href="/ai_detection" class="btn btn--full margin-right-sm">Check now</a>
        <a href="/self-examination" class="btn btn--outline">Learn more &darr;</a>
      </div>
      <div class="hero-img-box">
        <picture>
          <source srcset="{{ url_for('static', filename='img/hero.png') }}" type="image/png" />
          <img src="{{ url_for('static', filename='img/hero-min.png') }}" class="hero-img" alt="Hero image" />
        </picture>
      </div>
    </div>
  </section>

</main>
{% endblock %}
