{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="static/css/general.css" />
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="stylesheet" href="static/css/queries.css" />
  <title>No Risk - BioGenesis</title>
</head>
<body style="background-color: black">
<div class="container">
    <div class="card" style=" background-color: black;
    color: whitesmoke;
    font-family: Monsterrat;">
        <div class="card-header" style="font-size: 40px;
        text-align: center;">
            <h3>OUTPUT:-</h3>
            <h4>NO RISK OF DEVELOPING BREAST CANCER</h4>
        </div>
            <div class="card-body" style="font-family: Monsterrat;">
            <p class="card-text" style="font-size: 20px;
            text-align: center;
            color:#DE3163;">Not all abnormalities point towards Breast Cancer. Cruelly enough, the symptoms of
                benign cancer are very similar to that of malignant. These include but are not limited to pain or
                swelling in the breast region, abnormal lumps or change in colour.
            </p>
            <hr style="border-top: 1px solid white;">
            <p class="card-text" style="font-size: 20px;
            text-align: center;
            color:#DE3163;">It’s not all bad though. Statistics suggest that benign cancer cases occur more
                frequently than actual cancer. But it should be noted that benign cancer situations may pave the way to
                the eventual arrival of malignant cancer.
            </p>

            <p class="card-text" style="font-size: 20px;
            text-align: center;
            color:#DE3163;">For more information on Benign Cancer click <a href="https://www.breastcancer.org/symptoms/benign#:~:text=Benign%20(non%2Dcancerous)%20breast,those%20caused%20by%20breast%20cancer." target="_blank">here</a>.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body" style="background-color: black;
        color: #DE3163;
        font-family: Monsterrat;">
            <p style="font-size: 18px;
            text-align: center;" class="card-text">Use the map to learn about Breast Cancer Treatment centres near your area.
            </p>
            <a class="btn btn-light" style="margin-left: 41%;"
                href="https://www.google.co.in/maps/search/breast+cancer+clinics+near+me/@28.4434033,77.0558144,14z/data=!3m1!4b1"
                target="_blank" 
                role="button">Breast Cancer Clinics</a>
        </div>
    </div>
</div>
</body>
{% endblock content %}