{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="static/css/general.css" />
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="stylesheet" href="static/css/queries.css" />
  <title>Risk Detected - BioGenesis</title>
</head>
<body style="background-color: black">
<div class="container">
	<div class="card" style=" background-color: black;
	color: whitesmoke;
	font-family: Monsterrat;">
		<div class="card-header" style="font-size: 40px;
		text-align: center;">
		    <h3>OUTPUT:-</h3>
			<h4>RISK OF DEVELOPING BREAST CANCER</h4>
		</div>
		<div class="card-body" style="font-size: 18px;">
			<p class="card-text" style="text-align: center; color:#DE3163;">Early detection plays a big role in curing cancer. The
				earlier a tumour is detected the
				better a prognosis will be. It is also imperative to note that  - Risky cancer tumour is not a death
				warrant, chances of survival do exist.</p>
			<p class="card-text" style="text-align: center; color:#DE3163;">The next step is to classify the stage of cancer. It is
				usually expressed in numbers 0
				- IV. The stage of cancer is determined through a surgery where a certain amount of underarm lymph nodes
				are examined. Based on the following measurements the stage number is determined</p>
			<hr  style="border-top: 1px solid white;">
		</div>
	</div>
	<div class="card">
		<div class="card-body" style="background-color: black;
		color:#DE3163;
		font-family: Monsterrat;">
			<p class="card-text" style="font-size: 18px;
			text-align: center;"> Click <a
					href="https://www.breastcancer.org/symptoms/diagnosis/staging#:~:text=The%20stage%20of%20a%20breast,best%20treatment%20options%20for%20you" target="_blank">here</a>
				to learn more about the stages and treatment of Breast Cancer.</p>

			<hr style="border-top: 1px solid white;">
			<p style="font-size: 18px;
			text-align: center;" class="card-text">Use the map to learn about Breast Cancer Treatment centres near your area.
			</p>
			<a class="btn btn-light" style="margin-left: 41%;"
				href="https://www.google.co.in/maps/search/breast+cancer+clinics+near+me/@28.4434033,77.0558144,14z/data=!3m1!4b1"
				target="_blank"
				role="button">Breast Cancer Clinics</a>
		</div>
	</div>
</div>
</body>
{% endblock content %}