{% extends "base.html" %}
{% block title %}BRCAware{% endblock %}

{% block content %}
<main>


<section id="examine-section" class="section-examine">
    <div class="container">
      <span class="subheading">How to self-examine?</span>
      <h2 class="heading-secondary">
        Your daily dose of health in 6 simple steps.
      </h2>

      <div class="grid grid--2-cols">
        <!-- Step 1 -->
        <div class="step-text-box">
          <p class="step-num">01</p>
          <h3 class="heading-tertiary">
            Take a good look at your breasts in the mirror.
          </h3>
          <p class="step-description">
            Take a good look at your breasts in the mirror and start by
            looking for changes in the shape, size or position of your
            nipples.
          </p>
          <p class="step-notes">Do you have any of these symptoms?
          <ul class="list">
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Breast or
                nipple pain</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span></span>Nipple
              discharge</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span></span>Nipple
              retraction or inversion</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span></span>Change
              in size/shape of the breast or asymmetry of the position of the nipples</span></li>
          </ul>
          </p>
        </div>
        <div class="step-img-box">
          <img src="static/img/steps/step-1.png" class="step-img" alt="" />
        </div>

        <!-- Step 2 -->
        <div class="step-img-box">
          <img src="static/img/steps/step-2.png" class="step-img" alt="" />
        </div>
        <div class="step-text-box">
          <p class="step-num">02</p>
          <h3 class="heading-tertiary">
            Raise your arms in the air.
          </h3>
          <p class="step-description">After you have checked your nipples, raise your arms in the air, you are going
            to look for any distoration of your breasts such as dimpling of the skin.
          </p>
          <p class="step-notes">Do you have any of these symptoms?</p>
          <ul class="list">
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Visible
                lumps</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span></span>Skin
              dimpling</span></li>
            <li class="list-item"><ion-icon class="list-icon"
                name="checkmark-circle"></ion-icon><span></span>Redness</span></li>
            <li class="list-item"><ion-icon class="list-icon"
                name="checkmark-circle"></ion-icon><span></span>Swelling</span></li>
          </ul>
          </p>
        </div>

        <!-- Step 3 -->
        <div class="step-text-box">
          <p class="step-num">03</p>
          <h3 class="heading-tertiary">
            It is best to flat when examining your breasts.
          </h3>
          <p class="step-description">It is best to flat when examining your breasts, either on your bed, or sofa or
            even in the bath. This allows your breast tissue to spread out and makes examination much easier.
          </p>
          <p class="step-notes">Do you have any of these symptoms?</p>
          <ul class="list">
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Palpable breast
                lump - if present is it hard or soft, smooth or irregular?</span></li>
          </ul>
          </p>
        </div>
        <div class="step-img-box">
          <img src="static/img/steps/step-3.png" class="step-img" alt="" />
        </div>

        <!-- Step 4 -->
        <div class="step-img-box">
          <img src="static/img/steps/step-4.png" class="step-img" alt="" />
        </div>
        <div class="step-text-box">
          <p class="step-num">04</p>
          <h3 class="heading-tertiary">
            Use firm pressure with flat fingers of your right hand.
          </h3>
          <p class="step-description">
            Then using firm pressure with flat fingers on your right hand press your breast tissue against the
            underlying chest wall and use your flat fingers press around each quarter of your left breast. Once you
            have done this then use your fingertips to press around your nipple. If you feel any lump or thickened
            area then use both of your hands to try and identify if there is a lump present.
          </p>
          <p class="step-notes">Do you have any of these symptoms?
          <ul class="list">
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Bleeding from
                the nipple</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span></span>Breast
              asymmetry in the terms of the feel of the breast and how lumpy it is</span></li>
          </ul>
          </p>
        </div>

        <!-- Step 5 -->
        <div class="step-text-box">
          <p class="step-num">05</p>
          <h3 class="heading-tertiary">
            Repeat step 4.
          </h3>
          <p class="step-description">Repeat step 4 but on your right breast and using your left hand.
          </p>
          <p class="step-notes">Do you have any of these symptoms?</p>
          <ul class="list">
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Lumps</span>
            </li>
          </ul>
          </p>
        </div>
        <div class="step-img-box">
          <img src="static/img/steps/step-5.png" class="step-img" alt="" />
        </div>

        <!-- Step 6 -->
        <div class="step-img-box">
          <img src="static/img/steps/step-6.png" class="step-img" alt="" />
        </div>
        <div class="step-text-box">
          <p class="step-num">06</p>
          <h3 class="heading-tertiary">
            Examine your left underarm area.
          </h3>
          <p class="step-description">Finally, examine your left underarm area with your right hand, starting as high
            as possible in your armpit and running your fingers downwards looking for any lumps. Repeat this process
            on your right underarm using your left hand.
          </p>
          <p class="step-notes">Do you have any of these symptoms?</p>
          <ul class="list">
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Palpable breast
                lump in the armpit</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Swelling of the
                arm</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>A tender
                swelling under the arm</span></li>
            <li class="list-item"><ion-icon class="list-icon" name="checkmark-circle"></ion-icon><span>Lymph node
                changes</span></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}